@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

/* Estilos para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    background: url('../photo/interioMazmorra.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Creepster', cursive;
    color: #f5d442;
    text-align: center;
    overflow-x: hidden; /* Oculta el desplazamiento lateral */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
}

/* Contenedor principal */
.desdichado-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    max-width: 80%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
}

/* Título */
h2 {
    font-size: 2.5rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
}

/* Descripción del preso */
.preso-descripcion {
    font-size: 1.2rem;
    max-width: 90%;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Video */
video {
    width: 11%;
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

/* Botón */
.next-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    color: #000;
    background-color: #f5d442;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.next-button:hover {
    background-color: #ffcc00;
}